 .carousel {
     margin-top: 2cm;

 }

 .b-footer {
     color: #6b95bf;
     font-weight: 700;
     line-height: 1.9;
     padding-left: 3cm;
     padding-right: 3cm;
 }

 .blockquote {
     margin: 10;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #7097be;
 }